qcheck
# Struct TestResult 
Source 

```
pub struct TestResult { /* private fields */ }
```

## Implementations§