# Source: https://docs.sinch.com/permission/two-step-verification.md

# Two-step Verification

A autenticação de dois fatores, ou 2FA, é uma camada extra de proteção usada para garantir a segurança das contas online além de apenas um nome de usuário e senha.

{% hint style="danger" %}
By enabling this function, all users will be required to perform two-step authentication to login to the tool.
{% endhint %}

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2F9ZxupaatBLK3wOHoDZ0k%2Fimage.png?alt=media&#x26;token=c0ad2114-5689-44ef-b088-35ea0085bafa" alt=""><figcaption></figcaption></figure>

## How to enable 2-Step Verification for your account?

Two-Step Verification (2FA) is a feature that only the customer admin can view and enable for all users.&#x20;

To enable the feature, follow these steps:&#x20;

1. Access your messaging account, make sure you are using an administrator account.&#x20;
2. In your left side menu search for settings > My account.

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2FtXNzqMPajG8nS3p3I1RW%2Fimage.png?alt=media&#x26;token=4f636032-9438-49ea-b1f6-e31e4a542968" alt=""><figcaption></figcaption></figure>

3. When accessing the above configuration, you will have access to the new configuration: Account Settings.

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2FdKU69lIXLmvwg180VC8H%2Fimage.png?alt=media&#x26;token=c9131c7d-6c70-4553-b02a-99effe9d6c51" alt=""><figcaption></figcaption></figure>

{% hint style="info" %}
The "i" next to two factor authentication shows information about what two-step configuration is.
{% endhint %}

4. By enabling the function, all users will have two-factor authentication.

## First Setup

After accessing the Messaging tool, fill in your login credentials and password, when clicking login, a pop-up will open on the screen asking you to configure the verification. The message brings the user some more information on how two-step verification works on the account.

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2FDeH0m2Bbf8HE8l3yPSMk%2Fimage.png?alt=media&#x26;token=15f4b1f2-c574-4321-a0ff-9bca5cfbe25f" alt=""><figcaption></figcaption></figure>

After clicking on the next button in the previous message, it will be mandatory that you configure the phone that will be used as a security key and click on the recaptcha button (you are not a robot).

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2Fv31kiNpBK0MaSrzQXZga%2Fimage.png?alt=media&#x26;token=ee350953-aab1-4a7b-8eea-32aa9a9ab46a" alt=""><figcaption></figcaption></figure>

{% hint style="danger" %}
**Informações importantes:**

1. **Ao inserir seu telefone na etapa acima, lembre-se de colocar o seu código do país + DDD + Número de telefone + Marcar eu não sou um robô.**
2. **Após a primeira configuração, você poderá escolher entre duas chaves de segurança: número de telefone ou email cadastrado.**
3. **Todos os usuários obrigatoriamente farão essa configuração uma vez.**&#x20;
   {% endhint %}

After adding your phone number as in the previous image, we will send you a token via SMS to your number. You have 180 seconds to receive this information and enter it in the "TOKEN" field. After adding the code, the tool clicks on validate token.

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2FAw0TnvgdpohPdzMvF6Nf%2Fimage.png?alt=media&#x26;token=e8638582-6a41-4afa-a80e-e1c1386b28eb" alt=""><figcaption></figcaption></figure>

Ready! You will now have access to Messaging.

## What to do after the first setup?

Now that you have configured your access in two steps, every time you log in to the platform, you will see a pop-up on the screen where you: First you need to mark the field that you are not a robot to release the buttons. With the buttons released you need to choose between receiving your token by email or by sms.

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2FlaECOxrT2dOHJCUn1lQI%2Fimage.png?alt=media&#x26;token=b6d147de-9193-460c-85c9-a6de2c00e865" alt=""><figcaption></figcaption></figure>

## I need to change my registered phone number

{% hint style="info" %}
This setting is only visible to users with two-step verification enabled.
{% endhint %}

You will need to access your account and search for the field my profile, this field is in the upper right corner of your screen:

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2FKCicYNF4QH3yq7JnZca3%2Fimage.png?alt=media&#x26;token=8b64d0e8-78f1-4d3c-bce6-9a3fb8071b9f" alt=""><figcaption></figcaption></figure>

In this field, you can see a new configuration called phone.&#x20;

1. To change your phone, you must choose the country code + ddd + phone number, with the information filled in, click on save.&#x20;
2. When performing the previous step, a pop-up will open on your screen and you will be able to perform the configuration.&#x20;
3. In the telephone area you also see the number registered today.

<figure><img src="https://1892724945-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-Mkmx3dQNmGgjdXVGQoB%2Fuploads%2FJ2K9VzH6UvZj4qfqGYIW%2Fimage.png?alt=media&#x26;token=49196476-d301-4675-aebd-660ddb830ac5" alt=""><figcaption></figcaption></figure>
