# Source: https://configcat.com/docs/advanced/team-management/domain-verification.md

# Domain Verification

Copy page

In order to use the [SAML Single Sign-On](https://configcat.com/docs/advanced/team-management/saml/saml-overview.md) and the [Auto-assign Users](https://configcat.com/docs/advanced/team-management/auto-assign-users.md) features, you have to verify the ownership of the domain that your company uses for email addresses.

## Steps to verify your domain[​](#steps-to-verify-your-domain "Direct link to Steps to verify your domain")

* Open your organization's authentication settings on the [ConfigCat Dashboard](https://app.configcat.com/organization/authentication).

  ![ConfigCat authentication settings](/docs/assets/saml/dashboard/authentication.png)

* Click `ADD & VERIFY DOMAIN`.

  ![ConfigCat add & verify domain](/docs/assets/saml/dashboard/add_domain_new.png)

* Type your domain name, then click `ADD`

  ![ConfigCat add domain](/docs/assets/saml/dashboard/domain_name_new.png)

* Follow the instructions on the appearing dialog to verify your domain.

  ![ConfigCat verify domain](/docs/assets/saml/dashboard/verify_domain_new.png)
