pgp::composed
# Enum VerificationResult 
Source 

```
pub enum VerificationResult {
    Valid(Signature),
    Invalid,
}
```

## Variants§
§
### Valid(Signature)