# Source: https://docs.snowflake.com/en/release-notes/2025/other/2025-09-19-snowconvert-ai-verification.md

# Sep 19, 2025: SnowConvert AI Verification (*Preview*)

AI Verification strengthens SnowConvert AI by automating functional validation of converted database code.
AI Verification uses synthetic data generation, AI-driven unit testing, and AI-driven resolution of errors
identified in the conversion.

For more information, see
[AI code conversion](../../../migrations/snowconvert-docs/snowconvert-ai-verification.md).
