# Source: https://docs.snyk.io/developer-tools/snyk-cli/scan-and-maintain-projects-using-the-cli/snyk-cli-for-iac/understand-the-iac-cli-test-results.md

# Understand the IaC CLI test results

{% hint style="info" %}
Beginning with Snyk CLI v. 1.939.0, the `snyk iac test` command offers additional results.
{% endhint %}

Snyk Infrastructure as Code offers additional CLI `iac test` results in Snyk CLI v. 1.939.0 and later releases. For additional information on both the later and earlier versions, see the following documentation.

* [Snyk IaC CLI test results (v. 1.939.0 and later)](https://docs.snyk.io/developer-tools/snyk-cli/scan-and-maintain-projects-using-the-cli/snyk-cli-for-iac/understand-the-iac-cli-test-results/snyk-iac-cli-test-results-v.-1.939.0-and-later)
* [Snyk IaC CLI test results (v. 1.938.0 and earlier)](https://docs.snyk.io/developer-tools/snyk-cli/scan-and-maintain-projects-using-the-cli/snyk-cli-for-iac/understand-the-iac-cli-test-results/snyk-iac-cli-test-results-v.-1.938.0-and-earlier)

To use the new IaC CLI output results, install the latest Snyk CLI version or update to this version, for example, by entering:

```
npm install snyk -g 
```

For information about other methods for installing and updating the CLI, see [Install or update the Snyk CLI](https://docs.snyk.io/developer-tools/snyk-cli/install-or-update-the-snyk-cli).
